

a{
  text-decoration: none;

}

#grid{

  list-style: none;
  display: grid;
  grid-column-start: 2;
  grid-column-end: 3;
  grid-template-columns: 1fr 150px 150px 150px 1fr;
  grid-template-rows: 300px 100px 100px 30px 300px;
  text-align: center;
}

h1{
  font-size: 50px;
  font-style: normal;
  text-align: center;
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 3;
}

.item1{
  border-top: 1px solid gray;
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 3;
  grid-row-end: 4;
}
.item2{
  border-top: 1px solid gray;
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 3;
  grid-row-end: 4;
}
.item3{
  border-top: 1px solid gray;
  grid-column-start: 4;
  grid-column-end: 5;
  grid-row-start: 3;
  grid-row-end: 4;

}

#bottom{
  border-top: 1px solid gray;
}
