html, body{
  height : 100%;
  width : 100%;
  overflow-x: hidden;
  overflow-y: hidden;
}

li{
  float: left;
  height: 30px;
  padding: 2px;
  margin: 2px;
  font-size: 30px;
  color: #6f6f6f;
}

#top{
  height: 20vh;
  width: 100vw;
}

#top #mainlist{
  position: absolute; left: 20px; top: 30px;
  list-style: none;
}

#top #logo{
  height: 30px;
  width: 100px;
  margin-right: 0px;
}

li input{
  height: 30px; width: 50vw;
  font-size: 20px;
  background-color: #f2f2f2;
  border: 1px solid #e5e5e5;
  border-radius: 10px;
  padding-top: 10px;
  padding-bottom: 5px;
}

#footer{
  position: absolute; bottom: 30px;
  height: 30px; width: 100%;
  background-color: #f2f2f2;
  border: 1px solid #e4e4e4;
  padding-bottom: 1px;
}

#footer h3{
  font-size: 15px;
  margin-top: 1px;
}

#footer2{
  position: absolute; bottom: 0px;
  height: 30px; width:100%;
  background-color: #f3f3f3;
  border: 1px solid #e4e4e4;
  font-size: 15px;

}

#secondlist{
  height: 20px; width: 100vw;
  list-style: none;
  color: #6f6f6f;
  margin-left: -25px;
  margin-top: -1px;
}

#secondlist li{
  font-size: 15px;
}
