html, body{
  height : 100%;
  width : 100%;
  overflow-x: hidden;
  overflow-y: hidden;
}

#nav{
  height: 22vh;
  width: 100vw;
}

#nav #mainlist{
  position: absolute; right: 0px;
  list-style: none;
}

li{
  float: left;
  padding: 8px;
}

#mg{
  height: 24px;
  width: 24px;
}

#yublogo{
  height: 7vw;
  width: 20vw;
  margin-right: 40vw;
  margin-left: 42vw;
  margin-bottom: 1vh;
}

#searchbox{
  height: 3vw;
  width: 30vw;
  margin-left: 35vw;
  margin-right: 35vw;
  padding-left: 15px;
  font-size: 1vw;
  border: 1px solid #e5e5e5;
  border-radius: 3%;
  box-shadow: 0px 3px 0px 0px #e5e5e5;
}

button{
  height: 4vw;
  width: 10vw;
  background-color: #f6f6f6;
  font-size: 1vw; color: #222222;
  margin-top: 3vh;
  border: 1px solid #e4e4e4;
}

#footer{
  position: absolute; bottom: 30px;
  height: 30px; width: 100%;
  background-color: #f2f2f2;
  border: 1px solid #e4e4e4;
  padding-bottom: 1px;
}

#countries{
  width: 100px;
  font-size: 15px;
  margin-top: 1px;
  margin-left: 25px;
  color: #6f6f6f;
  text-align: left;
  padding: 3px;
}

#footer2{
  position: absolute; bottom: 0px;
  height: 30px; width:100%;
  background-color: #f3f3f3;
  border: 1px solid #e4e4e4;
  font-size: 15px;
}

#secondlist{
  height: 20px; width: 100vw;
  list-style: none;
  color: #6f6f6f;
  margin-left: -25px;
  margin-top: -1px;
}

#secondlist li{
  font-size: 15px;
  margin: 2px;
  padding: 2px;
}
